h1 {
   text-align: center;
}

div {
   text-align: left;
}

li {
   margin-top: 5px;
}

span {
   font-weight: 900;
   text-align: right;
   position: absolute;
   text-align: right;
   left: 50%;

}

span2 {
   font-weight: 900;
   padding: 10px;
}
li:hover {
   background-color:rgba(0, 140, 255, 0.514);
}
 
#launchForm {
   background-color: #ECF0F1;
   text-align: center;
   margin: auto;
   width: 25%;
   height: 14%;
   border: 3px solid black;
   padding: 20px;
}

#launchStatusCheck {
   background-color: #ECF0F1;
   text-align: center;
   width: 50%;
   margin: 50px auto; 
   border: 3px solid black;
   padding: 10px;
}

#missionTarget img {
   max-width: 40%;
   max-height: 250px;
}

#missionTarget ol {
   padding-right: 100px;
   margin-left: 100px;
   text-align: left;
}
#missionTarget {
   background-color: #ECF0F1;
   text-align: center;
   margin: 50px auto;
   width: 50%;
   border: 3px solid black;
   padding: 10px;
}

#bill img {
   max-width: 500px;
   max-height: 350px;
   align-self: center;
}

#fail img {
   max-width: 500px;
   max-height: 350px;
   align-self: center;
}

button {
   background-color: #419f6a;
   border: none;
   color: white;
   border-radius: 8px;
   width: 25%;
   height: 30px;
   margin: 10px 0;
}

.imageDiv {
   margin-left: 10px;
   display: block;
   width: 345px;
   height: 220px;
   padding: 10px;
   align-items: relative;
 }

 .overlap {
   top: -240px;
   position: relative;
   left: 0;
 } 
